{% if page.slideshow and page.slideshow.include %}
{% assign slides = page.slideshow.content | sort:"order" %}

<div class="carousel-2 push-2">

  <ul class="list-group--inline push-0 carousel-items">
  {% for item in slides %}
    <li class="carousel-item" data-image="{{forloop.index0}}">
      {% if item.main-heading or item.sub-heading or item.read-more-link %}
      <div class="carousel-item-image" style="background-image: url({{item.background-src}});"></div>
      <div class="carousel-item-content island-1-2">
        <a href="{{item.link}}" title="{{item.main-heading}}">
          {% if item.main-heading %}
            <div class="brand-highlight push-0 zetta pad-b">{{item.main-heading | upcase }}</div>
          {% endif %}
          {% if item.sub-heading %}
            <div class="brand-highlight push-0 mega pad-b-1-2">{{item.sub-heading}}</div>
          {% endif %}
        </a>
        {% if item.read-more-link %}
          <a href="{{item.read-more-link}}" class="read-more mega" title="Read more">Read more</a>
        {% endif %}
      </div>
      {% endif %}
    </li>
  {% endfor %}
  </ul>

</div>

{% endif %}
