.slideshow-container {
  position: relative;
  opacity: 0;
  transition: all 200ms linear;
  z-index: -1;
}

.js-slideshow-container-fade {
  opacity: 1;
  z-index: 20;
}

.active-slideshow {
  cursor: pointer;
}

.slideshow {
  position: fixed;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  bottom: 0rem;

  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  transform-origin: center center;
  opacity: 1;
  transition: all 250ms ease;

  text-align: center;
}

.slideshow-images li {
  position: absolute;
  top: 48%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 500ms linear;
}

li.js-slideshow-image-selected {
  opacity: 1;
}

.slideshow-images img {
  width: 90%;
}

.slideshow-navigation {
  text-align:center;
  position: absolute;
  left: 50%;
  bottom: 5px;
  display: block;
  margin-right: -50%;
  transform: translate(-50%, -30%);

  opacity: 1;
  transition: all 500ms linear;
}
.slideshow-navigation li {
  transform: scale(0.7);
  opacity: 0.7;
  cursor: pointer;
}
.slideshow-navigation li:hover {
  transform: scale(1);
  opacity: 1;
  transition: all 200ms linear;
}

li.js-slideshow-navigation-selected {
  transform: scale(1);
  opacity: 1;
}

.slideshow-navigation img {
}

.slideshow-navigation li {
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
}

.slideshow-navigation img{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.slideshow-controls {
  position: fixed;
  top: 0;
  height: 100%;
  width: 50%;
  cursor: pointer;
  z-index: 25;

  transition: all 100ms linear;
}

.slideshow-controls-previous {
  left: 0rem;
}
.slideshow-controls-next {
  right: 0rem;
}

.slideshow-controls:hover {
  background-color: rgba(255, 255, 255, 0);
}

.slideshow-controls-container {
  position: fixed;
  top: calc(50% - 16px);
  width: 50px;
  height: 50px;
  opacity: 0;

  background-color: rgba(0,0,0,0.5);

  transition: all 250ms ease;
}

.slideshow-controls-previous .slideshow-controls-container {
  left: 1.5rem;
}

.slideshow-controls-next .slideshow-controls-container {
  right: 1.5rem;
}

.slideshow-controls .slideshow-controls-container i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.slideshow-controls:hover .slideshow-controls-container {
  opacity: 1;
}
.slideshow-controls:hover .slideshow-controls-container:hover {
  background-color: rgba(0,0,0,1);
}

.btn-close-slideshow {
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 26;
  transition: all 100ms linear;
}
.btn-close-slideshow .icon-link {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 1.5rem;
  right: 1.5rem;
  opacity: 1;
  background-color: rgba(0,0,0,0.5);
  transition: all 250ms ease;
}
.btn-close-slideshow i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.btn-close-slideshow .icon-link:hover {
  background-color: rgba(0,0,0,1);
}
.btn-close-slideshow .i-close {
  background-image: url('../img/style/close-white.svg');
}


@media only screen and (min-width: 38em) {

  .slideshow-images img.vertical {
    width: 50%;
  }

  .slideshow-navigation {
    opacity: 1;
  }

  .slideshow-navigation li {
    width: 40px;
    height: 40px;
  }

}
@media only screen and (min-width: 60em) {

  .slideshow-images img {
    width: 70%;
  }

  .slideshow-images img.vertical {
    width: 50%;
  }
}
