.js-light {
  color: rgba(255, 255, 255, 1);
}

.js-light a,
.js-light a:visited,
.js-light a:link {
  color: rgba(255, 255, 255, 1);

  -webkit-transition: color 1000ms ease-in-out, border 250ms ease-in-out;
  -moz-transition: color 1000ms ease-in-out, border 250ms ease-in-out;
  -o-transition: color 1000ms ease-in-out, border 250ms ease-in-out;
  transition: color 1000ms ease-in-out, border 250ms ease-in-out;
}

.js-light a:hover,
.js-light a:active,
.js-light a:focus {
  color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.js-light .i-arrow-left {
  background-image: url("../img/style/arrow-left.svg");
}

.js-light .i-arrow-right {
  background-image: url("../img/style/arrow-right.svg");
}

.js-light .i-facebook-simple {
  background-image: url("../img/style/facebook-simple-white.svg");
}

.js-light .i-twitter {
  background-image: url("../img/style/twitter-white.svg");
}

.js-light .i-pinterest-simple {
  background-image: url("../img/style/pinterest-simple-white.svg");
}

.js-light .i-instagram {
  background-image: url("../img/style/instagram-white.svg");
}

.js-light .i-pointer-up {
  background-image: url("../img/style/pointer-up-white.svg");
}

.js-light .i-pointer-down {
  background-image: url("../img/style/pointer-down-white.svg");
}

.js-light .album-cover-carousel .carousel-controls-container {
  background-color: rgba(255,255,255,0.5);
}

.js-light .album-cover-carousel .carousel-controls:hover .carousel-controls-container:hover {
  background-color: rgba(255,255,255,1);
}

.js-light .album-cover-carousel .carousel-item-content {
  background-color: rgba(255, 255, 255, 1);
}

.js-light .album-cover-carousel .carousel-item-content em {
  color: rgba(117, 115, 115, 1);
  font-style: normal;
}

.js-light .album-cover-carousel .carousel-item-content a {
  color: rgba(0, 0, 0, 1);
}

.js-light .top-bar,
.js-light .middle-bar,
.js-light .bottom-bar {
  background-color: rgba(255, 255, 255, 1);

  -moz-transition: background-color 1000ms ease-in-out;
  -o-transition: background-color 1000ms ease-in-out;
  -webkit-transition: background-color 1000ms ease-in-out;
  transition: background-color 1000ms ease-in-out;
}

.js-light .mobile-nav-toggle-box:checked ~ .header-btn .top-bar,
.js-light .mobile-nav-toggle-box:checked ~ .header-btn .middle-bar,
.js-light .mobile-nav-toggle-box:checked ~ .header-btn .bottom-bar {
  background-color: rgba(0, 0, 0, 1);
}

.js-light .main-nav .sub-main-nav ul {
  background-color: rgba(255, 255, 255, 1);

  -moz-transition: background-color 1000ms ease-in-out;
  -o-transition: background-color 1000ms ease-in-out;
  -webkit-transition: background-color 1000ms ease-in-out;
  transition: background-color 1000ms ease-in-out;
}

.js-light .main-nav .sub-main-nav ul::before {
  background-image: url(../img/style/pointer-up-white-01.png);
}

.js-light .main-nav .sub-main-nav ul a,
.js-light .main-nav .sub-main-nav ul a:link,
.js-light .main-nav .sub-main-nav ul a:visited {
  color: rgba(0, 0, 0, 1);
}

.js-light .main-nav .sub-main-nav ul a:hover,
.js-light .main-nav .sub-main-nav ul a:active,
.js-light .main-nav .sub-main-nav ul a:focus {
  color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}
